.container {
  width: 75%;
  padding: 0px 12.5%;
  background-image: url('./images/background_img.jpeg');
  background-size: cover;
  min-height: 100vh;
}

.boxes {
  display: flex;
  justify-content: center;
  margin:10px 0;
}

.boxItem {
  margin: 0 2%;
  padding: 0 3%;
}

.boxItem textarea, .boxes input{
  background-color: rgba(255, 255, 255, 0.9);
}

.boxItem textarea {
  border: 1px solid black;;
  border-radius: 15px;
  padding: 15px;
}

.App h1 {
  font-size:40px;
  text-shadow: 2px 2px 5px rgb(0, 89, 255);
  padding: 20px 0;
}

.App h2 {
  font-size:30px;
  text-shadow: 2px 2px 5px rgb(162, 0, 221);
  padding-top: 10px;
}

.App h1, .App h2 {
  font-weight: 700;
  font-family:'Courier New', Courier, monospace;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.home {
  padding-top:50px;
}

.cryptPart h1 {
  font-size: 22px;
  margin: auto;
  padding: 14px 0;
  color:rgb(255, 255, 255);
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.cryptPart {
  font-size: 18px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 40px;
  background-color: rgba(53, 56, 58, 0.75);
  padding-bottom: 10px;
  
}

.cryptPart textarea {
  width: auto;
}

.matrixRow input{
  width: 48px;
  height: 47px;
  text-align: right;
}

.text {
  padding-left: 10px;
  padding-bottom: 4.5px;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
  font-family:'Courier New', Courier, monospace;
}

.text input {
  width: 48px;
  text-align: right;
}

.out-form {
  display: flex;
  align-items: center;
}

.btns {
  margin:auto;
}

.btns button {
  background-color: #00aeff;
  color: black;
  width: 100%;
  border-radius: 10px;
  padding: 5px 8px;
  margin:2px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}

.submit-btn {
  display: flex;
  justify-content: center;
  margin: 5px 0;
  padding: 5px 0;
}
.submit-btn button {
  background-color: #00eeff;
  color: black;
  border-radius: 30px;
  padding: 14px 10%;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}